{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <div class="container mt-5">
    <h1 class="mb-4">{{ proveedor.nombre }} {{ proveedor.contacto }}</h1>

    <form>
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.nombre.label_tag }} {{ form.nombre }}
        </div>
        <div class="form-group col-md-6">
          {{ form.contacto.label_tag }} {{ form.contacto }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.telefono.label_tag }} {{ form.telefono }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.direccion.label_tag }} {{ form.direccion }}
        </div>
      </div>

      <a href="{% url 'proveedor' %}" class="btn btn-primary"
        >Volver a la lista</a
      >
    </form>
  </div>

  {% endblock %}
</html>
